<div>
    @switch (state) {
        @case (connectionStateEnum().CONNECTING) {
            <div>Datenbankverbindung wird aufgebaut...</div>
        }
        @case (connectionStateEnum().FAILED) {
            <div>
                <div>
                    Es konnte keine Datenbankverbindung hergestellt werden!
                </div>
                <div>
                    Soll eine neue Datenbank erstellt werden? Eine neue Datenbank sollte nur erstellt werden, falls noch keine
                    Vorhanden ist!
                </div>
            </div>
        }
        @case (connectionStateEnum().CRITICAL) {
            <div>{{errorMessage}}</div>
        }
        @case (connectionStateEnum().CONFIGURE) {
            <div>
                <span>Die Datenbank wurde erstellt. Ein Admininistrationspasswort ist notwendig, um die Konfguration abzuschlie&szlig;en</span>
            </div>
            <div class="flex flex-col mt-2">
                <div>
                    <label for="pwKonfInput" class="text-sm">Passwort:</label>
                    <input id="pwKonfInput" class="border" type="password" placeholder="Passwort..." [(ngModel)]="adminPW" (ngModelChange)="comparePasswords()">
                </div>
                <div>
                    <p [ngClass]="{'invisible': passwordsMatch}" id="passwordError">Passwort muss &uuml;bereinstimmen!</p>
                    <label for="pwKonfInput" class="text-sm">Passwort wiederholen:</label>
                    <input id="pwKonfInputRep" class="border m-2 mt-0" type="password" placeholder="Passwort wiederholen..." [(ngModel)]="adminPWRepeat" (ngModelChange)="comparePasswords()">
                </div>
            </div>
        }
        @default {
            <div>Ein unerwarteter Zustand ist eingetreten!</div>
        }
    }
</div>