<div class="modal">
    <div class="modal-header">

    </div>
    <div class="modal-body">
        <modal-controller [componentType]="componentType" (acceptCallback)="setAcceptCallback($event)"
            (cancelCallback)="setCancelCallback($event)" [onUpdate]="onUpdate"
            [onExit]="onExit">
        </modal-controller>
    </div>
    <div class="modal-footer">
        @if (modalState.acceptable) {
            <button (click)="accept()">{{modalState.acceptText}}</button>
        }
        @if (modalState.cancelable) {
            <button (click)="cancel()">{{modalState.cancelText}}</button>
        }
    </div>
</div>